torch==2.1.0+cu121 --index-url https://download.pytorch.org/whl/cu121 
torch==2.1.0+cu121 --index-url https://download.pytorch.org/whl/cu121
git+https://github.com/mesolitica/async-parler-tts
numpy==1.26.4