sounddevice
# spacy
TTS==0.22.0
accelerate
flask
flask-restful
flask-mysqldb
transformers
bcrypt
huggingface-hub
mysql-connector-python
requests
pandas 
openpyxl 
sentence-transformers 
numpy
PyJWT

# GOOGLE TRANSLATE
google-cloud
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-cloud-translate==3.20.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0

#TESTING:
pytest==8.3.5
