sounddevice
spacy==3.5.3
TTS==0.22.0
numpy==1.23.0
accelerate
flask
flask-restful
flask-mysqldb
transformers
bcrypt
huggingface-hub
mysql-connector-python
requests
pandas 
openpyxl 
sentence-transformers 


