.chatBox {
  width: 100%;
  height: 100%;
  padding-right: 70px;
  padding-top: 80px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.messagesContainer {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse; /* Keep this as column-reverse */
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.userMessage {
  background-color: aliceblue;
  color: black;
  font-size: clamp(13px, 1vw, 16px);
  align-self: flex-end;
  padding: 12px;
  border-radius: 7px 7px 0 7px;
  margin: 5px 0;
  max-width: 80%;
}

.outputMessage {
  background-image: linear-gradient(to right, #6a31fbc9, #e031fbc9);
  /* background-color: #6a31fbc9; */
  color:white;
  font-size: clamp(13px, 1vw, 16px);
  align-self: flex-start;
  padding: 12px;
  border-radius: 7px 7px 7px 0;
  margin: 5px 0;
  max-width: 80%;
}

.inputArea {
  display: flex;
  height: 7%;
  margin-top: 10px;
  border: 1px solid rgb(183, 123, 235);
  border-radius: 23px 23px 23px 23px;
  padding: 10px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.05);
  align-items: center;
}

.userInput {
  flex-grow: 1; 
  background-color: transparent;
  border: none; 
  outline: none; 
  font-size: clamp(13px, 1vw, 16px);
  font-family: 'Verdana', sans-serif;
  padding: 10px; 
  color: white;
  width: 100%;
}

.chatBox button {
  min-width: 10%;
  max-width: 20%;
  width: clamp(100px, 15vw, 180px);
  padding: 1vh 1.5vw;
  border: none;
  background-image: linear-gradient(to right, #6a31fbc9, #e031fbc9);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-size: clamp(10px, 1.2vw, 18px);
}

button:hover {
  background-color: #200a50;
}