<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BahasaBuddy Interface</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js"></script>
</head>
<body>
    <div class="split left">
        <!-- Avatar -->
        <video id="avatarVideo" autoplay loop controls>
            <source src="static/placeholder.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="split right">
        <div class="centered">
            <!-- Chatbox -->
            <div id="chatbox">
                <div id="messagesContainer"></div>
                
                <div id="inputArea">
                    <input type="text" id="userInput" placeholder="Talk to your language buddy!" onkeydown="sendMessageOnEnter(event)"/>
                    <button onclick="sendMessage()">Send</button>
                </div>
            </div>
            
            <!-- button to replay lipsync just to visualise, can be removed later -->
            <button id="replayButton" onclick="replayLastResponse()">Replay Last Response</button>

        </div>
    </div>
</body>
</html>
