<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BahasaBuddy Interface</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js"></script>
</head>
<body>
    <div id="mainContainer">
        <!-- avatar, other elements -->
        <div id="avatar"></div>

        <!-- Chatbox -->
        <div id="chatbox">
            <div id="messagesContainer"></div>
            
            <div id="inputArea">
                <input type="text" id="userInput" placeholder="Talk to your language buddy!" onkeydown="sendMessageOnEnter(event)"/>
                <button onclick="sendMessage()">Send</button>
            </div>
        </div>
    </div>
</body>
</html>
